/*
    File: contact.cs
    Description: Specific styles for the contact page.
    Date: 27.09.2025
    Author: Isak Dombestein (isak@dombesteindata.net)
*/

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-family: var(--font);
    background-color: var(--background);
    color: far(--foreground);
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contact-form p {
    margin-bottom: 2rem;
    max-width: 600px;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
}

.input-field {
    padding: 0.75rem 1rem;
    border: 1px solid var(--muted-foreground);
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--card);
    color: var(--foreground);
}

.input-field:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(182, 158, 255, 0.3);
}

button[type="submit"] {
    background-color: var(--accent);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: rgba(182, 158, 2550, 0.75);
}

body.light .input-field:focus {
    border-color: var(--accent-light);
    box-shadow: 0 0 0 2px rgba(142, 93, 247, 0.3);
}

body.light button[type="submit"]:hover {
    background-color: rgba(142, 93, 247, 0.75)
}